body{
    background-color: orange;
}

h1{
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#start{
    text-align: center;
    margin-left:50%;
}

.quesAns{
    text-align:center;
    font-size: 20px;
    margin-top:50px;
}

.answerBox{
    margin-top:20px;
    margin-left:-310px;
}
