body{
    background-image: url("planets.jpg");
    color:white;
    
}

h1{
    font-size:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
#start{
    text-align: center;
    
    margin-top:20px;
}

.quesAns{
    align:middle;
    font-size: 20px;
    margin-top:50px;
}
.questions{
    
}

.answerBox{
    margin-top:20px;
    
}

#answers{
    margin-left:0px;
}

#display{
    background:black;
    color:white;
    text-align: center;
    width:30px;
}
